<?xml version="1.0"?>
<!--
/**
 * August Ash Demo Ribbon Module
 *
 * @author Peter McWilliams <pmcwilliams@augustash.com>
 * @license MIT
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <ash>
            <demo_ribbon>
                <ribbon_enabled>0</ribbon_enabled>
                <ribbon_location>right</ribbon_location>
                <ribbon_message>Demo - No Orders Honored</ribbon_message>
                <ribbon_size>large</ribbon_size>
            </demo_ribbon>
        </ash>
    </default>
</config>
