<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * August Ash Demo Ribbon Module
 *
 * @author Peter McWilliams <pmcwilliams@augustash.com>
 * @license MIT
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Augustash\DemoRibbon\Api\ConfigInterface" type="Augustash\DemoRibbon\Model\Config"/>
</config>
